* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
    background-color: #00ff00;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
}

.nav-links,
.cart {
    display: flex;
    #background-color: #00ff00;
}

li {
    font-size: 20px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #ff0000;
}

a:visited {
    text-decoration: none;
    color: #ff0000;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.presentation {
    min-height: 80vh;
    align-items: center;
    background-color: #00ff00;
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 80vh;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
    text-align: center;
}
